[Desktop Entry]
Name=Kopuz
Comment=A modern music player
Exec=kopuz
Icon=com.temidaradev.kopuz
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Keywords=Music;Player;
StartupWMClass=kopuz
